#page  
  .container  
    .whole
      %a{:href => 'blog'} test
      .time
        #testing
          -(1..360).each do |i|
            %figure 
        #hours
          -(1..24).each do |i|
            %figure #{i}
        #seconds
          -(1..60).each do |i|
            %figure #{i}
        #minutes
          -(1..60).each do |i|
            %figure #{i}

