$page: 980px


body
  background: url(/assets/batthern.png)
  margin: 0
  font-family: 'Economica', sans-serif
  a
    font-size: 30px
.clear
  clear: both

.left
  position: relative
  float: left

.right
  position: relative
  float: right

#page
  width: 100%
  height: 1000px
  .container
    position: relative
    margin: 0 auto
    width: $page
    .whole,
    .half,
    .third,
    .fourth
      padding: 20px
      margin-top: 20px
    
    .whole
      width: $page - 40
      height: 400px
      background: url(/assets/irongrip.png)
      -moz-border-radius: 40px 40px 0px 0px
      border-radius: 40px 40px 0px 0px
    .half
      width: 50%
      -moz-border-radius: 0px 0px 0px 40px
      border-radius: 0px 0px 0px 40px
    .third
    .fourth
    
    


.time
  width: 210px
  height: 140px
  position: relative
  padding-top: 300px
  margin: 0 auto 0 auto
  -webkit-perspective: 1000
  bottom: 135px
#seconds,
#minutes,
#hours,
#testing
  -webkit-transition: -webkit-transform .9s
  -moz-transition: -moz-transform .9s
  -ms-transition: -ms-transform .9s
  -o-transition: -o-transform .9s
  transition: transform .9s
  text-align: center
  width: 100%
  height: 100%
  position: absolute
  -webkit-transform-style: preserve-3d
  figure
    color: black
    display: block
    position: absolute
    left: 48px
    font-size: 25px
    border: 5px solid black
    -moz-border-radius: 15px 2px 15px 2px
    border-radius: 15px 2px 15px 2px
    line-height: 1.8em
    padding: 10px 0px
    background-color: rgba(255, 255, 255, 0.7)


#seconds
  figure
    width: 25px
    top: 80px

#minutes
  figure
    width: 24px
    top: -50px
#hours
  figure
    width: 60px
    top: -184px
    left: 29px
    font-size: 40px
    padding: 0px
#testing
  figure
    width: 60px
    top: 200px
    left: 36px
    height: 1px
    border: none
    border-top: 3px solid white
    background: transparent

#testing figure,
  @for $i from 1 through 360
    &:nth-child(#{$i})
      -webkit-transform: rotateY(1deg * $i) translateZ(400px)
      border-color: rgba($i/1.42, $i/1.42, $i/1.42, 0.0021*$i)
#seconds figure,
  @for $i from 1 through 60
    &:nth-child(#{$i})
      -webkit-transform: rotateY(6deg * $i) translateZ(400px) rotateX(25deg)

#minutes figure,
  @for $i from 1 through 60
    &:nth-child(#{$i})
      -webkit-transform: rotateY(6deg * $i) translateZ(350px)

#hours figure,
  @for $i from 1 through 24
    &:nth-child(#{$i})
      -webkit-transform: rotateY(15deg * $i) translateZ(300px)
