$page: 980px

body
  margin: 0

.clear
  clear: both

.left
  position: relative
  float: left

.right
  position: relative
  float: right

#page
  width: 100%
  height: 2000px
  background: url(/assets/irongrip.png)
  .container
    margin: 0 auto
    width: $page
    height: 100%
    .seconds
    .minutes
      background: red
      opacity: .5
    .hours
    .days
    .months

.time
  width: 210px
  height: 140px
  position: relative
  padding-top: 300px
  margin: 0 auto 0 auto
  -webkit-perspective: 1000

#seconds,
#minutes
  text-align: center
  font-family: helvetica
  width: 100%
  height: 100%
  position: absolute
  -webkit-transform-style: preserve-3d
  figure
    display: block
    position: absolute
    width: 25px
    height: 40px
    left: 10px
    top: 10px
    border: 1px solid black

#minutes
  figure
    width: 35px
    top: -50px


#seconds figure,
  @for $i from 1 through 60
    &:nth-child(#{$i})
      -webkit-transform: rotateY(6deg * $i) translateZ(288px)
      background-color: hsla( $i * 6 , 100%, 50%, 0.8)

#minutes figure,
  @for $i from 1 through 60
    &:nth-child(#{$i})
      -webkit-transform: rotateY(6deg * $i) translateZ(388px)
      background-color: hsla( $i * 1.1 , 100%, 50%, 0.8)
